.empTable {
  align-items: center;
  border: 1px solid black;
}

.empHeader td {
  border: 1px solid black;
}

.empRecord {
  border: 1px solid black;
}

.addUser {
  display: flex;
  flex-direction: column;
}

.addForm {
  display: flex;
  flex-direction: column;
}
